header {
  background-color: #454545;
}

h1 {
  font-size: 2.5rem;
  padding: 0.1rem;
}

.logo-div {
  background-color: #fa6800;
  position: relative;
}

body {
  font-family: 'Lato', sans-serif;
  color: #e6e6e6;
  font-size: 16px;
  background-color: #333333;
}

.vertical-alignment-container {
  display: flex;
  align-items: center;
}

.horizontal-alignment-container {
  justify-content: center
}

.logo-title {
  margin: 0.3rem;
  color: black;
}

.logo-edge {
  position: absolute;
  bottom: .1rem;
  right: .1rem;
}

.bg-dark {
  background-color: #454545 !important;
}

footer {
  background-color: #454545;
  font-size: 16px;
}

.navbar {
  padding: 0;
}

.navbar-brand {
  margin-left: 1rem;
  color: black !important;
  font-weight: bold;
}

.navbar-dark .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(230, 230, 230, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-dark .navbar-toggler {
  color: #e6e6e6c7;
  border-color: #e6e6e6c7;
  margin: .3rem;
}

/*.navbar-collapse {
  background-color: #454545;
}*/

.navbar-nav .nav-link {
  padding-left: .5rem;
}

/*@media (max-width: 768px) {
  .bg-dark {
    background-color: #fa6800 !important;
  }
}*/

.nav-centered {
  position: relative;
  width: 100%;
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
}

.main-container {
  margin-bottom: 1rem;
}

.nav-btn-link {
  border: 0;
}

@media (max-width: 767.98px)  {
  .navbar-expand-md.container, .navbar-expand-md.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
  }
}

.choice-container {
  background-color: #454545;
  padding: 0.75rem;
}

.option {
  border-radius: 1rem;
  background-color: #9d9d9d;
  width: auto;
  padding-top: .2rem;
  padding-right: .5rem;
  padding-bottom: .2rem;
  padding-left: .5rem;
  min-width: 30.375px;
  text-align: center;
}

.option-definitive {
  background-color: #fa6800;
}

.row-mlr-1 {
  margin-right: -.25rem;
  margin-left: -.25rem;
}

.col-plr-1 {
  padding-right: .25rem;
  padding-left: .25rem;
}

.equalize-bottom-margin {
  margin-bottom: -1rem;
}

.equalize-top-margin {
  margin-top: -1rem;
}

hr {
  border-top: 1px solid #555;
}

.row-righttoleft {
  float: right;
}

.btn-primary {
  color: black;
}

.floated-right-child {
  float: right;
  width: auto;
}

.floated-left-child {
  float: left;
  width: auto;
}

.welcome-container {
  background-color: #fa6800;
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.welcome-inner-container {
  width: 400px;
  height: 560px;
}


.welcome-edge {
  position: absolute;
  bottom: .25rem;
  right: .25rem;
}

.welcome-logo {
  width: 100%;
  margin-bottom: -50px;
}

.welcome-hr {
  border-top: 2px solid black;
}

.welcome-header {
  font-size: 5rem;
  font-weight: bold;
  color: black;
  text-align: center;
  margin-top: -20px;
}

.welcome-subtitle {
  font-size: 1.7rem;
  font-weight: bold;
  color: black;
  text-align: center;
  margin-top: -10px;
}

@media (min-width: 768px) {
  .welcome-principle {
    display:none;
  }
}

@media (max-width: 767.9px) {
  .welcome-principle-md {
    display: none;
  }
}

.footer-bullet {
  font-size: 1.5rem;
  line-height: 0.8rem;
}

.container-id {
  float: right;
  width: auto;
  color: #e6e6e6c7;
}