@model ChoicesListViewModel

<div class="row limited">
  <section class="column small-12">
    <h1>Evaluated choices</h1>
  </section>
</div>

<div class="row limited">
  @foreach (var choice in Model.List)
  {
  <div class="column small-12 medium-6 large-3">
    <div class="choice-container">
      <h2>@choice.Name</h2>
      <div class="row">
        @foreach (var option in choice.Options)
        {
          <section class="column option @(option.IsDefinitive ? "option-definitive" : string.Empty)">@option.Name</section>
        }
      </div>
      <div class="row">
      </div>
    </div>
  </div>
  }
</div>
