@model ChoicePostViewModel
@{
  ViewData["Title"] = "Post Choice";
}

<div class="row">
  <div class="col-12 col-md-6">
    <h1>Add choice</h1>
    <hr />
    @if (!string.IsNullOrEmpty(Model.ExceptionMessage))
    {
      <span class="text-danger">@Model.ExceptionMessage</span>
    }
    <partial name="_PostChoice" model="Model.PostChoiceData" />
  </div>
</div>
