@{
  ViewData["Title"] = "Home";
}


<div class="row">
  <div class="col-12 col-md-6">
    <h1>Welcome</h1>
    <hr />
  </div>
  <div class="col-12 col-md-6 welcome-principle-md">
    <h1>Principle</h1>
    <hr />
  </div>
</div>
<div class="row">
  <div class="col-12 col-md-6">
    <div class="welcome-container">
      <div class="welcome-inner-container">
        <img class="welcome-logo" src="~/images/QIcon_black.svg" />
        <hr class="welcome-hr" />
        <h1 class="welcome-header">Entangle</h1>
        <h1 class="welcome-subtitle">Welcome to the program</h1>
      </div>
      <img class="welcome-edge" src="~/images/edge.svg" width="64" height="64" />
    </div>
  </div>
  <div class="col-12 col-md-6">
    <div class="col-12 col-md-6 welcome-principle mt-2">
      <h1>Principle</h1>
      <hr />
    </div>
    <div>
      <img class="floated-left-child mr-2" src="~/images/quantum-function.svg" width="250" height="99" />
      Quantum mechanics is full of seemingly random events. This is the only place where randomness happens in this otherwise deterministic universe. Quantum systems collapse instantaneously even if they span light years. The Many-worlds interpretation <a href="https://en.wikipedia.org/wiki/Many-worlds_interpretation">Many-worlds interpretation</a> of quantum mechanics is the only completely coherent approach to explaining both the contents of quantum mechanics and the appearance of the world.<br />
    </div>
    <div>
      <img class="floated-right-child ml-2" src="~/images/quantum-branches.svg" width="190" height="165" />
      Where the traditional interpretation describes a collapse of the wave function as the result of being observed, the Many-worlds interpretation suggests that every possible outcome happens every time, but the observer becomes entangled or correlated with the quantum system and is split into an infinite number of versions, each observing one single outcome. <a href="https://www.youtube.com/user/1veritasium">Veritasium</a> made a <a href="https://www.youtube.com/watch?v=kTXTPe3wahc">very nice video</a> on this topic. Make sure to check it out.<br />
    </div>
    <div>
      <img class="floated-left-child mr-2" src="~/images/human-superposition.svg" width="120" height="70" />
      This website allows you to act depending on a quantum particle in a superposition and doing so put yourself in a superposition. Just like Schrödinger's cat, you can do or be two things at the same time.<br />
    </div>
    <hr />
    <div>
      <img class="floated-left-child mr-2" src="~/images/exclamation-box.svg" width="70" height="70" />
      Just enter what actions each version of yourself should execute. When you click execute, a "random number" from the <a href="https://qrng.anu.edu.au/">ANU QRNG</a> service is retrieved and an option determined according to that number. Every evaluation each option will be selected, but you will be split and only see a single option selected.<br />
      If each version of you acts according to the assigned action, you have successfully put yourself into a superposition.<br />
    </div>
  </div>
</div>